.danger{
    border: 1px solid red;
}

.orange{
    border: 1px solid orange;
}

.green{
    border: 1px solid green;
}

.purple{
    border: 1px solid purple;
}

h1{
    background-color: royalblue
}